name: main
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.3"
          - "3.4"
          - "4.0"

    env:
      RAILS_ENV: test

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec appraisal install
      - run: bundle exec appraisal rails test

  rubocop:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.3"
          - "3.4"
          - "4.0"
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rubocop -P --fail-level C
